@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
<head>
    <title>Privacy Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        h1 {
            color: #333;
            background-color:antiquewhite;
        }
        h2{
            background-color:antiquewhite;
        }

        p {
            color: #666;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Privacy Policy</h1>
        <br/>
        <h2> Personal Information</h2>
        <p>
            

            We collect personal information when you register on our site and place an order.
            While ordering or registering on our site, you may be asked to enter your name, email address, mailing address, phone number,
            or other details to help you with your experience.

           
        </p>
        <h2>  Use of Information</h2>
        <p>
          

            We may use the information we collect from you in the following ways:
            - To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
            - To improve our website in order to better serve you.
            - To allow us to better service you in responding to your customer service requests.
        </p>
        <h2> Protection of Information</h2>
        <p>
           

            Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, 
            and are required to keep the information confidential.
        </p>
        <h2>Third-party Disclosure</h2>
        <p>
            

            We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
        </p>
        <p>
            By using our site, you consent to our privacy policy.
            If we decide to change our privacy policy, we will post those changes on this page.

        </p>
      
    </div>
</body>
</html>